<div id="google-map"></div>
  <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('google-map'), {
        center: {lat: 21.017030, lng: 105.783902},
        zoom: 8
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
    async defer></script>
